
/* 主体-书信息块 */
main li.book-item{
    width: 280px;
    padding: 0 42.5px;
    margin: 24px 0;
    float: left;
    border-left: 1px solid #bbb;
}

main li.book-item:nth-child(4n-3){
    border-left: none;
}

main img.book-cover{
    display: table-cell;
    vertical-align: baseline;
    height: 375px;
    margin: 0 auto;
    border: double 0.5px #bbb;
}

/* 书信息 */
main div.bookinfo-wrap{
    margin-top:5px;
    width: 214px;
    float:left;
    line-height: 24px;
}

main h3.book-name{
    height: 48px;
    line-height: 24px;
    font-size: 22px;
    vertical-align: baseline;
}

main p.book-author{
    font-size: 14px;
}
main p.book-price{
    font-size: 18px;
}

/* 购物车icon */
main a.trolley{
    display: block;
    float:right;
    vertical-align: bottom
}

main i.cart-icon{
    display: block;
    margin-top: 28px;
    font-size: 60px;
    color: #666;
    
}