.clearfix::before,
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    background-color: #eee;
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
header,footer{
    width: 100%;

    /* temp style for visual aid*/
    height: 150px;
    background: #ddd;
    border: 1px solid #ccc;
    font-size: 30px;
    text-align: center;
    line-height: 150px;
}

header{
    margin-bottom: 20px;
}

footer{
    margin-top: 20px;
}

/*  主体部分:
 *  
 *  宽度：1960*3/4 = 1470px
 *  book-item-width: 280px
 *  
 */

main{
    width: 1470px;
    margin: 0 auto;
    background-color: #fff;
    /* temp style for visual aid*/
    border: 1px solid #ddd;
}


