/* 主体 */
main {
    width: 960px;
    color: #969696;
    border-color:#cacbcb;
}

main>ul{
    border-bottom: 1px solid #cacbcb;
}

/* 空购物车信息栏
*
*/
main div.empty-info{
    height: 180px;
    line-height: 180px;
    font-size: 30px;
    color: #cacbcb;
    text-align: center;
    display: none;
}

/*  购物车表头 
*   - 宽度:
*       全选: 202px
*       商品信息: 280px
*       其他: 119.5px
*/
main ul.trolley-head {
    height: 45px;
    margin: 0 auto;
    font-size: 13px;
}

main ul.trolley-head li {
    line-height: 45px;
    float: left;
}

main li.check-all {
    padding-left: 2px;
    width: 200px;
}

main ul.trolley-head li.book-info {
    width: 280px;
}

main ul.trolley-head li.other {
    /* text-align: center; */
    width: 119.5px;
}

/*  购物车内容列表 
*   - 高度：215px
*   - 宽度：
*       选择框：48px
*       封面框：202 - 48 = 154px
*       info：280px
*       other: 119.5 px
*   
*/
main li.trolley-item {
    height: 215px;
    line-height: 215px;
    float: left;
    /* border-bottom: 1px solid #cacbcb; */
    /* temp style for visual aid*/
    /* background-color: honeydew; */
}

main li.trolley-item.checkbox-wrap {
    width: 48px;
    text-align: center;
    /* temp style for visual aid*/
    /* background-color: cadetblue; */
}

/* 封面 */
main li.trolley-item.img-wrap {
    width: 154px;
    position: relative;
}

main li.trolley-item img {
    height: 150px;
    /* 在div中垂直水平居中 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 书籍名称 */
main li.trolley-item.book-info {
    color: #333;
    width: 280px;
}

/* 价格等info */
main li.trolley-item.other {
    color: #333;
    width: 119.5px;
}

/* 更改数量组件 */
main li.trolley-item.other div.qty-wrap {
    line-height: 18px;
    padding-top: 95px;
    margin: 0 auto;
}

main li.trolley-item.other input.qty {
    float: left;
    width: 25px;
    height: 20px;
    text-align: center;
    border: solid #cacbcb;
    border-width: 1px 0;
}

main li.trolley-item.other a {
    text-align: center;
    float: left;
    width: 25px;
    height: 20px;
    background-color: #F2F2F2;
    border: 1px solid #cacbcb;
}

main li.trolley-item.other a:hover{
    background-color: #ddd;
}

/* 删除购物车item */
main li.trolley-item.delete-item{
    width: 119.5px;
    
}

main li.trolley-item.delete-item a{
    color: #969696;
}

main li.trolley-item.delete-item a:hover{
    color: #333;
}

/*  购物车总计条: 
*   - height: 50px
*   - width:
*       check-all:202px
*       total-item-count:280+119.5*2 = 519px
*       total-price,pay-btn-wrap: 119.5px
*/
main ul.trolley-total{
    line-height: 50px;
    /* __problem__: margin会有边框，设计问题，应在开始布局时就将大框架搭好 */
    /* margin: 20px 0; */ 
    height: 50px;
    border-bottom: none;
}

main ul.trolley-total li{
    float: left;
}

main li.total-item-count{
    width: 519px;
}

main li.total-price,
main li.pay-btn-wrap{
    width: 119.5px;
}

main a.pay-btn{
    border-left: 1px solid #cacbcb;
    display: block;
    background-color: #eaeaea;
    font-size: 20px;
    text-align: center;
}

/* 设置总计中件数与总价数字的特殊显示 */
#total-item-count{
    font-size: 18px;
    color: #333;
}

#total-price{
    font-size: 20px;
    color: #333;
}




